<carousel [isAnimated]="true" class="carrusel">
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <h2>PRODUCTOS</h2>
      <div class="lead">
        <h3>Ultimo producto cargado</h3>
        <p>aca el producto</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <h2>CLIENTES</h2>
      <div class="lead">
        <h3>Ultimo cliente cargado</h3>
        <p>aca va el cliente</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <h2>VENTAS</h2>
      <div class="lead">
        <h3>Ultima venta realizada</h3>
        <p>aca va la venta</p>
      </div>
    </div>
  </slide>
</carousel>
