.img{
  background-color:beige;
  border-radius: 50%;
}
.background{
  height: 43.7rem;
  width: 100%;
  background-image: url("https://img.freepik.com/fotos-premium/empresario-toca-icono-carro-compras-linea-concepto-pantalla-virtual-negocios_55997-2570.jpg?w=826");
  background-size: 100%;
}
.list{
  text-align: center;
  margin-right: 10rem;
}